<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <hr class="top">
    <div class="row"> <!-- This is the horizontal line -->
        <img id="video-stream" src="/video_stream" />
        <img id="image-feed" src="/image_feed" />
        <input type="text" class="text-box" placeholder="00000">
        <button type="button" class="button"> Confirm</button>
    </div>
    <hr class="middle"> 
    <div class="row">
        <img id="video-stream" src="/video_stream" />
        <img id="image-feed" src="/image_feed" />
        <input type="text" class="text-box" placeholder="00000">
        <button type="button" class="button"> Confirm</button>
    </div>
    <hr class="bottom"> 
</body>
</html>
